
.item{
    margin-left: -290px;
    object-fit: cover;
}
.item-1 img{
    height: 100%;

}
.item-2{
    margin-left: 0px;
    height: 100%;

}
.item-3{
    margin-left: 0px;
    height: 100%;

}







@media screen and (max-width: 500px){


    .item {
        min-width: 100vw !important;
        max-width: 100vw !important;
        height: 100%;

    }
    .item-2{
        width: 100vw;
        height: 100vw;
    }
    
    .item{
    margin-left: 0px;
        object-fit: cover;
    }
    .item-1 img{
        height: 100%;
    
    }
    .item-2{
        width: 100%;
        height: 100%;
    
    }
    
}