.item{
display: flex;
align-items: center;
justify-content: center;
user-select: none;
height: 620px;

}
.main-slider{
   
    margin: 20px auto;
    height: 597px;
    width: 1340px;
    display: flex;
    align-items: center;
    border-radius: 5px;
    box-shadow: 1px 1px 4px #666;
}
.window{
    height: 100%;
    width: 1340px;
    overflow: hidden;
}
.all-pages-slider{
    width: 1340px;
    height: 100%;
    display: flex;
    transition: translate;
    transition-property: transform;
    transition-duration: 300ms;
    transition-timing-function: ease-in-out;

}
.item-1{
    width: 100%;
    height: 100%;
}
.item-2{
    background-color: orange;

}
.item-3{

    background-color: red;

}
.arrowLeft {
    position: absolute;
    cursor: pointer;
    width: 20px;
    z-index: 2;

}
.arrowRight{
    position: absolute;
    cursor: pointer;
    z-index: 2;
    margin-right: 290px;
    width: 20px;
    right: 0;
}












@media screen and (max-width: 500px){

    .item{
        display: flex;
        align-items: center;
        justify-content: center;
        user-select: none;
        height: 100%;
        min-width: 100vw;
        max-width: 100vw;
        
    }        
    .main-slider{
    
        margin: 20px auto;
        height: auto;
        width: 100%;
        display: flex;
        align-items: center;
        border-radius: 5px;
        box-shadow: 1px 1px 4px #666;
    }

    .arrowRight{
        position: absolute;
        cursor: pointer;
        z-index: 2;
        margin-right: 25px;
        width: 20px;
        right: 0;
    }
    .window{
        width: 100%;
        height: 100%;
        overflow: hidden;
    }
    .all-pages-slider{
        height: 100%;
        display: flex;
        transition: translate;
        transition-property: transform;
        transition-duration: 300ms;
        transition-timing-function: ease-in-out;
    
    }
    .item-1{
        width: 100vw;
        height: 100vw;
    }
    .arrowRight{
        right: -25px;
    }
    
}